<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Sender</title>
</head>

<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; mÆargin: 0; padding: 20px;">

<div style="max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 20px; border-radius: 8px; box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);">


    <h1 style="color: #333333; text-align: center">Email Sender</h1>
    <p style="color: #555555;">Hello,</p>
    <p style="color: #b80d0d; text-align: center; ">This mail was sent to you as a test mail</p>

    <div style="text-align: center; color: #777777; font-size: 12px; margin-top: 30px;">
        <p>You are receiving this email because you subscribed to our newsletter.</p>
    </div>

</div>
</body>
</html>